<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<script type="text/javascript">
  window.staticImages = {
    slack_home: "<%= image_url("slack_home_img.png") %>",
    github: "<%= image_url("GitHub-Mark-32px.png") %>",
    linkedin: "<%= image_url("linkedin-badge.png") %>",
    email: "<%= image_url("Email-Icon.png") %>",
    email_hover: "<%= image_url("email-icon-hover.png") %>",
    yak: "<%= image_url("cartoon-yak.png") %>"
  }
</script>
<div id="root">


</div>
